<div class="container-fluid" style="margin-top: 3px; padding: 5px;">
	<div class="row">
		<div class="col-md-8">
			<textarea id="code-screen"></textarea>
		</div>

		<div class="col-md-4">
			<div id="chatbox">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span>CHAT ROOM</span>
						<span class="pull-right" id="chatbox-username">
							<% if(currentUser) {%>
								<%= currentUser.username %>
							<% } %>
						</span>
					</div><!--/panel-heading-->

					<div class="panel-body">
						<ul class="media-list" style="height: 350px; overflow-y: scroll;" id="chatbox-messages">
							
						</ul>
					</div><!--/panel-body-->

					<div class="panel-footer">
						<input type="hidden" value="<%= roomID %>" id="roomId">
						<input type="text" class="form-control" placeholder="Enter message.." id="user-message">
						<span class="input-group-btn">
							<button type="button" class="btn btn-danger btn-sm" id="sendMsg-btn">SEND</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div><!--/row-->
</div><!--/container-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/ruby/ruby.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.min.js"></script>

<script>
	
</script>