@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Raleway:300,400,700');

/*===============
GENERAL
===============*/
html{
	height: 100%;
}

body{
	height: 100%;
	font-size: 14px;
	font-weight: 400; 
	color: #191919;
	line-height: 27px;
	padding-top: 50px;
	letter-spacing: 0.5px;
	text-rendering: optimizeLegibility;
	font-family: 'Raleway', sans-serif;
}

p{
	margin-top: 0px;
	font-weight: 400;
	margin-bottom: 20px;
}

section{
	padding: 50px 10px;
}

.btn{
	border-radius: 0;
	padding: 5px 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.main-header{
	text-transform: uppercase;
	font-size: 450%;
	font-weight: 600;
	text-align: center;
	padding-bottom: 30px;
}
/*================
HEADER SECTION
=================*/
header{
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/bg-img1.jpg') center center no-repeat fixed;
	background-size: cover;
	height: 100%;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
}

.intro{
	outline: 2px solid #fff;
	padding: 45px 50px;
	max-width: 70%;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.4);
}

.intro h2{
	font-size: 200%;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header a.fa{
	color: #fff;
	text-decoration: none;
	margin-top: 1.5em;
}

.header a.fa:hover{
	color: #cb949b;
	transition: all 0.2s ease-in;
}


/*=================
LOGIN PAGE
=================*/
.myform{
	color: #000;
	font-size: 120%;
}

.myform input[type="text"],
.myform input[type="email"],
.myform input[type="password"]{
  margin: 0;
  height: 45px;
  color: #000;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  border-radius: 0px;
  vertical-align: middle;
}

textarea, 
textarea.form-control{
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  border-radius: 0;
}

.login_icon{
	text-align: center;
	padding-top: 15%;
}

.login_icon i.fa{
	font-size: 25rem;
}

footer{
	background-color: #ddd;
	/*position: absolute;*/
	bottom: 0;
	left: 0;
	width: 100%;
	color: #000;
	text-align: center;
	height: 50px;
	clear: both;
	margin-top: 25px;
}

footer p{
	margin: 0;
	padding: 10px 5px;
	text-transform: uppercase;
}