<header id="header" class="header">
	<div class="intro">
		<h2>“Alone we can do so little; together we can do so much”</h2>
		<p>Signup and start working with your team members in realtime.</p>
	</div>
</header><!-- /header -->