<header id="header" class="header">
	<div class="intro">
		<h2>“Alone we can do so little; together we can do so much”</h2>
		<p>Signup and start working with your team members in realtime.</p>
		<% if(!currentUser) {%>
			<p class="text-center"><a href="/signup" class="btn btn-success">Signup</a></p>
		<% } else {%>
			<p class="text-center"><a href="/project/new" class="btn btn-danger">Create Project</a></p>
		<% } %>
	</div>
</header><!-- /header -->